<!doctype html>
<title>my cruddy todo list</title>
<nav>
  <h1>my cruddy todo list</h1>
  <ul>
    <li><a href="{{url_for('add_todo')}}">add to list</a></li>
    <li><a href="{{url_for('edit_todo')}}">edit list item</a></li>
    <li><a href="{{url_for('del_todo')}}">check off list item</a></li>
  </ul>
</nav>
<section class="content">
<table>
  <tr>
    <th>id</th>
    <th>name</th>
  </tr>
  {% for todo in todos %}
  <tr>
    <td>{{todo['id']}}</td>
    <td>{{todo['task_name']}}</td>
  </tr>
  {% endfor %}
</table>
</section>

